.navbar-wrapper {
  background-color: var(--light-color);

  .ant-menu,
  .ant-menu * {
    color: var(--text-color);

    .ant-menu-item-selected,
    .ant-menu-item-selected * {
      font-weight: 700;
      color: var(--secondary-color);

      &::after {
        border-bottom-color: var(--secondary-color);
      }
    }
  }

  .navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 200px;
    }
  }

}