.navbar-wrapper {

  &>div {
    position: relative;
    padding: 0 5%;
    background-color: var(--light-color);
    z-index: 99999999;
  }

  .ant-menu,
  .ant-menu * {
    color: var(--text-color);

    .ant-menu-item-selected,
    .ant-menu-item-selected * {
      font-weight: 700;
      color: var(--primary-color);

      &::after {
        border-bottom-color: var(--primary-color);
      }
    }
  }

  .navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {

      height: 60px;
      max-width: 200px;
    }
  }

}