.mobile-bottom-navbar-wrapper {

  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--light);

  .ant-menu-horizontal {
    justify-content: space-between;
  }

  .ant-menu-item .anticon,
  .ant-menu-rtl .ant-menu-item .anticon {
    margin: 0;
    font-size: 24px;
  }
}