:root {
    --primary-color: #F7C35F;
    --secondary-color: #F7C35F;
    --light-color: #334B35;
    --body-color: #334B35;
    --text-color: #FFF;
}

.ant-alert {
    margin-bottom: 16px;
}

.ant-rate {
    font-size: 12px !important;
}

.ant-layout-header {
    padding: 0;
    height: auto;
}

.ant-layout-footer {
    padding: 0;
    height: auto;
}

.ant-menu-horizontal {
    background-color: var(--light);
    border-bottom-color: transparent;
}


.site-main-content {
    background-color: var(--body);
    width: 100%;
    padding: 10px max(10px, 3%);
}