:root {
    --primary-color: #F7C35F;
    --secondary-color: #6D8C54;
    --light-color: #334B35;
    --body-color: #6D8C54;
    --text-color: #FFF;

}

.ant-alert {
    margin-bottom: 16px;
}

.ant-rate {
    font-size: 12px !important;
}

.ant-layout-header {
    padding: 0;
    height: auto;
}

.ant-layout-footer {
    padding: 0;
    height: auto;
}

.ant-menu-horizontal {
    background-color: var(--light-color);
    border-bottom-color: transparent;
}