:root {
    --primary: #22668D;
    --secondary: #8ECDDD;
    --light: #FFCC70;
    --body: #FFFADD;
}

.ant-alert {
    margin-bottom: 16px;
}

.ant-rate {
    font-size: 12px !important;
}

.ant-layout-header {
    padding: 0;
    height: auto;
}

.ant-menu-horizontal {
    background-color: var(--light);
    border-bottom-color: transparent;
}