.carousel-item-wrapper {
    position: relative;

    img {
        height: 250px;
        height: max(30vw, 250px);
        width: 100%;
        object-fit: cover;
    }
}

.carousel-link {
    display: block;
    width: 100%;
    height: 80%;
    position: absolute;
}